body{
    padding: 135px;
    background-color: #64a4ec7e;
}
.container {
    /* border: 2px solid black; */
    box-shadow: rgb(41, 39, 39);
    height: auto; 
    width: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: rgb(183, 168, 235);
    padding: 20px;
    box-shadow:  -1px -1px 14px 14px rgba(0, 0, 0, 0.1),
         0px -2px 4px 7px rgba(0, 0, 0, 0.05);
}

.img > img {
    width: 150px; 
    border-radius: 10px;
}

.text {
    text-align: center;  
    margin-top: 15px;
}

.text > h2 {
    font-size: 18px;
    color: #333; 
}

.text > p {
    font-size: 14px; 
    color: #666; 
}
